nav ul li a{
    text-decoration: none;
    color:"white";
  margin:"50px";
  font-size:" 100px";
}
ul{
    list-style-type: none;
    
}
a:hover{
    cursor: pointer;
    color: aliceblue;
  }
